
/* CSS Globe */
body {
		margin: 0;
		padding: 0;
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 100%;
		background-color: #EDEDEC;
}

h2 {
		margin: 0;
		margin-bottom: 14px;
		padding: 0;
}

a:focus { outline: none; }

/* James Fix For CSS :) */

.fix-size {
		width:4000px; /* Up The Size If You Are Going To Add More Tabs!! */
		height:500px;
		padding:10px;
}

.fix-size2 {
		width:900px;
		background:#ccc;
		padding:10px;
		height:500px;
		border:1px solid #1f1f1f
}

/* Slide CSS*/

#slider {
		width: 100%;
		margin: 0 auto;
		position: relative;
}

.scroll {
		height:700px;
		width: 100%;
		overflow: auto;
		overflow-x: hidden;
		position: relative;
		clear: left;
		background: #FFFFFF;
}

.scrollContainer div.panel {
		padding: 20px;
		width: auto;
}
/* Navigation CSS */

.navigation {
		background:#3f3f3f;
		height:33px;
		border-bottom:2px solid #ccc;
}

.navigation{padding-left:30px;}

ul.navigation li {
		display: inline;
		margin-right: 10px;
		line-height:25px;
}

ul.navigation a {
		padding: 10px;
		color: #fff;
		text-decoration: none;
}

ul.navigation a:hover { background-color: #f6f6f6;color:#000 }